html {
  box-sizing: border-box;
}

/* universal selector */
*,
*::after,
*::after {
  box-sizing: inherit;
}
/* attribute selector */
[class=""] {
  font-size: 20px;
}

h1 {
  color: green;
  background-color: yellow;
}

.main-heading {
  color: white;
  background-color: black;
}

#heading {
  color: blue;
  background-color: lightgreen;
}
