.subsribe {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 40px;
  border-radius: 2px;
  width: 110px;
  cursor: pointer;
}

.join {
  background-color: transparent;
  color: blue;
  border: 1px solid blue;
  height: 40px;
  width: 70px;
  border-radius: 2px;
}
