body {
  background-color: lightcyan;
  text-align: center;
}

.lorem {
  background-color: lightgreen;
  max-width: 500px;
  font-size: 17px;
  padding: 25px;
  border: 2px solid black;
  border-radius: 32px;
}
