body {
  background-color: lightcyan;
  /* text-align: center; */
}

.lorem {
  background-color: lightgreen;
  max-width: 500px;
  font-size: 17px;
  padding: 25px;
  border: 2px solid black;
  border-radius: 32px;
}

.parent {
  background-color: red;
}

.one {
  background-color: aqua;
  width: 300px;
  padding: 10px;
  border-radius: 25px;
}

.sqaure {
  width: 300px;
  height: 200px;
  margin-top: 50px;
  border: 2px solid black;
  text-align: center;
  border-radius: 50%;
}

.sqaure-1 {
  width: 300px;
  height: 200px;
  margin-top: 10px;
  border: 1px solid green;
  border-radius: 100px;
  /* padding: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(); */
  background-color: lightseagreen;
  overflow: hidden;
}

.profile {
  margin: 80px 10px;
  border: 2px solid black;
  height: 40px;
  border-radius: 50%;
}

.unsplash {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.unsplash img {
  width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #34db39;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear alternate infinite;
  /* position: fixed;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-me {
  margin: 0 auto;
  background-color: black;
  color: white;
  width: 200px;
  margin: 100px;
}

.parent-1 {
  position: relative;
}

.child {
  position: absolute;
  background-color: lightblue;
  padding: 25px;
  border: 1px solid green;
  border-radius: 25px;
  /* margin: 20px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
